<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Sellect Type
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">Animals</a></li>
      <li><a href="#">Nature</a></li>
      <li><a href="#">Mountains</a></li>
      <li><a href="#">Flowers</a></li>
      <li><a href="#">All</a></li>
    </ul>
  </div>
</div>