
<div class="gallery">
  <a target="_blank" href="img_5terre.jpg">
    <img src="/assets/99.jpg" alt="" class="image_size">
  </a>
</div>

<div class="gallery">
  <a target="_blank" href="img_forest.jpg">
    <img src="/assets/3zj89jga8zr6aja5gwyrc1ain.jpg" alt="5Terre" class="image_size">
  </a>
</div>

<div class="gallery">
  <a target="_blank" href="img_lights.jpg">
    <img src="/assets/200.jpg" alt="5Terre" class="image_size">
  </a>
</div>

<div class="gallery">
  <a target="_blank" href="img_mountains.jpg">
    <img src="/assets/88.jpg" alt="5Terre" class="image_size">
  </a>
</div>

<div class="gallery">
  <a target="_blank" href="img_mountains.jpg">
    <img src="/assets/733538.jpg" alt="5Terre" class="image_size">
  </a>
</div>
 
 <div class="gallery">
  <a target="_blank" href="img_mountains.jpg">
    <img src="/assets/733542.jpg" alt="5Terre" class="image_size">
  </a>
</div>

 <div class="gallery">
  <a target="_blank" href="img_mountains.jpg">
    <img src="/assets/1212.png" alt="5Terre" class="image_size">
  </a>
</div>

 <div class="gallery">
  <a target="_blank" href="img_mountains.jpg">
    <img src="/assets/bicycle.jpg" alt="5Terre" class="image_size">
  </a>
</div>

 <div class="gallery">
  <a target="_blank" href="img_mountains.jpg">
    <img src="/assets/123.jpg" alt="5Terre" class="image_size">
  </a>
</div>

 <div class="gallery">
  <a target="_blank" href="img_mountains.jpg">
    <img src="/assets/1234.jpg" alt="5Terre" class="image_size">
  </a>
</div>

<div class="gallery">
  <a target="_blank" href="img_mountains.jpg">
    <img src="/assets/33.jpg" alt="5Terre" class="image_size">
  </a>
</div>

<div class="gallery">
  <a target="_blank" href="img_mountains.jpg">
    <img src="/assets/733536.jpg" alt="5Terre" class="image_size">
  </a>
</div>

<div class="gallery">
  <a target="_blank" href="img_mountains.jpg">
    <img src="/assets/88.jpg" alt="5Terre" class="image_size">
  </a>
</div>

<div class="gallery">
  <a target="_blank" href="img_mountains.jpg">
    <img src="/assets/77.jpg" alt="5Terre" class="image_size">
  </a>
</div>

<div class="gallery">
  <a target="_blank" href="img_mountains.jpg">
    <img src="/assets/555.jpg" alt="5Terre" class="image_size">
  </a>
</div>

<div class="gallery">
  <a target="_blank" href="img_mountains.jpg">
    <img src="/assets/999.jpg" alt="5Terre" class="image_size">
  </a>
</div>

<div class="gallery">
  <a target="_blank" href="img_mountains.jpg">
    <img src="/assets/777.jpg" alt="5Terre" class="image_size">
  </a>
</div>

<div class="gallery">
  <a target="_blank" href="img_mountains.jpg">
    <img src="/assets/7777.jpg" alt="5Terre" class="image_size">
  </a>
</div>

<div class="gallery">
  <a target="_blank" href="img_mountains.jpg">
    <img src="/assets/888.jpeg" alt="5Terre" class="image_size">
  </a>
</div>

<div class="gallery">
  <a target="_blank" href="img_mountains.jpg">
    <img src="/assets/12.jpg" alt="5Terre" class="image_size">
  </a>
</div>

<div class="gallery">
  <a target="_blank" href="img_mountains.jpg">
    <img src="/assets/1212.png" alt="5Terre" class="image_size">
  </a>
</div>

<div class="gallery">
  <a target="_blank" href="img_mountains.jpg">
    <img src="/assets/1234.jpg" alt="5Terre" class="image_size">
  </a>
</div>

<div class="gallery">
  <a target="_blank" href="img_mountains.jpg">
    <img src="/assets/444.jpeg" alt="5Terre" class="image_size">
  </a>
</div>

<div class="gallery">
  <a target="_blank" href="img_mountains.jpg">
    <img src="/assets/555.jpeg" alt="5Terre" class="image_size">
  </a>
</div>

<div class="gallery">
  <a target="_blank" href="img_mountains.jpg">
    <img src="/assets/33.jpg" alt="5Terre" class="image_size">
  </a>
</div>

<div class="gallery">
  <a target="_blank" href="img_mountains.jpg">
    <img src="/assets/333.jpg" alt="5Terre" class="image_size">
  </a>
</div>

<div class="gallery">
  <a target="_blank" href="img_mountains.jpg">
    <img src="/assets/12.jpg" alt="5Terre" class="image_size">
  </a>
</div>

<div class="gallery">
  <a target="_blank" href="img_mountains.jpg">
    <img src="/assets/888.jpg" alt="5Terre" class="image_size">
  </a>
</div>

<div class="gallery">
  <a target="_blank" href="img_mountains.jpg">
    <img src="/assets/888.jpg" alt="5Terre" class="image_size">
  </a>
</div>


<style>
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    height: 100px;
	width: 200px;
	margin-bottom: 35px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

</style>