<div class="row">	
	<div class="gallery center">
	  <a target="_blank" href="logo.png">
	    <img src="/assets/logo.png " alt="5Terre" class="image_size">
	  </a>
	</div>
</div>

<style>
div.gallery {
    margin-left: 500px;
    border: 5px solid #ccc;
    height: 250px;
	width: 300px;
    text-align: center;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 25px;
    text-align: center;
}
</style>